<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <title>编程无忧网_让编程更加无忧的IT技术网站</title>
    <meta name="description"
          content="编程无忧网(www.uubook.net)提供了优质的编程技术博文，编程实例教程，软件最新资讯，涵盖编程语言，移动开发，前端开发，数据库，服务器，云计算等各个领域，更多的优质资源尽在编程无忧网">
    <meta name="keywords" content="编程学习,IT技术,软件开发,技术博客,编程教程,软件资讯,软件学习,java架构师教程">
    <link rel="stylesheet" type="text/css" href="${base}/asset/wap/css/common.css">
    <link rel="stylesheet" type="text/css" href="${base}/asset/wap/css/category.css">
    <link rel="stylesheet" type="text/css" href="${base}/asset/wap/css/index.css">
    <link rel="stylesheet" type="text/css" href="${base}/plugs/slider/slider.css">
    <link rel="stylesheet" type="text/css" href="${base}/asset/wap/css/slider_menu.css">
    <link rel="stylesheet" type="text/css" href="${base}/asset/wap/css/iconfont/iconfont.css">
</head>
<body>

<div class="menu">
    <img id="menu-bg" src="/asset/wap/content/golden-gate-lights.jpg"/>
    <ul>
        <li><a href="">首页</a></li>
        <li><a href="">文档库</a></li>
        <li><a href="">教程</a></li>
        <li><a href="">知识库</a></li>
        <li><a href="">经验</a></li>
    </ul>
</div>
<div class="screen">
    <div class="search_panel">
        <div class="search_panel_inner">
            <form action="">
                <span><input type="text"></span>
            </form>
        </div>
    </div>
    <div class="blog_header">
        <span class="person-nav"><i class="iconfont">&#xe790;</i></span>
        <h2 class="blog_top_t">前端开发</h2>
        <span class="search-btn"><i class="iconfont">&#xe693;</i></span>
    </div>
    <div class="blog_body">
        <div class="blog_body_header">
            <div class="header_title selected"><span class="title">专题</span></div>
            <div class="header_title selected"><span class="title selected">博文</span></div>
        </div>
        <div class="blog_category_type">
            <div class="blog_category_type_inner">
                <div class="type type_left">最新</div>
                <div class="type type_right selected">热门</div>
            </div>
        </div>

        <div class="blog_main">
            <div id="t_list_container">
                <dl class="t_list">
                    <dt>
                        <!--<div class="t_bg" style="background-size: cover;background-position: 50% 50%;width: 100%; height: 200px; background-image:url('asset/content/ph1516-p00058.jpg')"></div>-->
                        <a href="articleDetail.html"><h3>全面实现自动化！Windows Azure添加对DevOps工具的支持</h3></a>
                    </dt>
                    <dd>
                        <p class="description">最开始的时候，产品给了我一张静态图片，让我按照这个来是实现页面。跟我说了一下说是可以播放
                            滑动的。我以为是让我写一个轮播图。后来才知道是手动触碰进行拖放。遂决定直接用css来实现。</p>
                        <span class="detail">阅读量：23 &nbsp;&nbsp; 点赞：34</span>
                        <span class="tags"><i>java</i><i>spring mvc</i></span>
                    </dd>
                </dl>
                <dl class="t_list">
                    <dt>
                        <!--<div class="t_bg" style="background-size: cover;background-position: 50% 50%;width: 100%; height: 200px; background-image:url('asset/content/ph1516-p00058.jpg')"></div>-->
                        <a href=""><h3>vue-自定义组件传值</h3></a>
                    </dt>
                    <dd>
                        <p class="description">​ 项目中，我们经常会遇到自定义组件传值的问题，
                            方法很多种，但是原理很简单，下述文档总结实际项目中使用的传值方式。</p>
                        <span class="detail">阅读量：23 &nbsp;&nbsp; 点赞：34</span>
                        <span class="tags"><i>java</i><i>spring mvc</i></span>
                    </dd>
                </dl>
                <dl class="t_list">
                    <dt>
                        <!--<div class="t_bg" style="background-size: cover;background-position: 50% 50%;width: 100%; height: 200px; background-image:url('asset/content/ph1516-p00058.jpg')"></div>-->
                        <a href=""><h3>全面实现自动化！Windows Azure添加对DevOps工具的支持</h3></a>
                    </dt>
                    <dd>
                        <p class="description">最开始的时候，产品给了我一张静态图片，让我按照这个来是实现页面。跟我说了一下说是可以播放
                            滑动的。我以为是让我写一个轮播图。后来才知道是手动触碰进行拖放。遂决定直接用css来实现。</p>
                        <span class="detail">阅读量：23 &nbsp;&nbsp; 点赞：34</span>
                        <span class="tags"><i>java</i><i>spring mvc</i></span>
                    </dd>
                </dl>
                <dl class="t_list">
                    <dt>
                        <!--<div class="t_bg" style="background-size: cover;background-position: 50% 50%;width: 100%; height: 200px; background-image:url('asset/content/ph1516-p00058.jpg')"></div>-->
                        <a href=""><h3>全面实现自动化！Windows Azure添加对DevOps工具的支持</h3></a>
                    </dt>
                    <dd>
                        <p class="description">最开始的时候，产品给了我一张静态图片，让我按照这个来是实现页面。跟我说了一下说是可以播放
                            滑动的。我以为是让我写一个轮播图。后来才知道是手动触碰进行拖放。遂决定直接用css来实现。</p>
                        <span class="detail">阅读量：23 &nbsp;&nbsp; 点赞：34</span>
                        <span class="tags"><i>java</i><i>spring mvc</i></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<script src="/asset/wap/js/jquery-2.1.1.min.js"></script>
<script src="/asset/wap/js/stopExecutionOnTimeout.js"></script>
<script>
    if ('ontouchstart' in window) {
        var click = 'touchstart';
    } else {
        var click = 'click';
    }
    $('span.person-nav').on(click, function () {
        if (!$(this).hasClass('open')) {
            openMenu();
        } else {
            closeMenu();
        }
    });
    $('span.search-btn').on(click, function () {
        if (!$('.search_panel').hasClass('search_panel_animails')) {
            $('.search_panel').addClass('search_panel_animails');
        } else {
            $('.search_panel').removeClass('search_panel_animails');
        }
    });
    $('div.menu ul li a').on(click, function (e) {
        e.preventDefault();
        closeMenu();
    });
    function openMenu() {
        $('span.person-nav').addClass('open');
        $('div.screen').addClass('animate');
        setTimeout(function () {
            $('div.x').addClass('rotate30');
            $('div.z').addClass('rotate150');
            $('.menu').addClass('animate');
            setTimeout(function () {
                $('div.x').addClass('rotate45');
                $('div.z').addClass('rotate135');
            }, 100);
        }, 10);

        //禁止屏幕滚动
        $("body,html").css({"overflow":"hidden"});
    }
    function closeMenu() {
        $('div.screen, .menu').removeClass('animate');
        $('span.person-nav').removeClass('open');
        $("body,html").css({"overflow":"auto"});
    }
    $('.type').on(click, function () {
        $('.blog_category_type_inner').find('.selected').removeClass('selected');
        $(this).addClass('selected');

    });
</script>
</body>
</html>