<%@ page language="java" contentType="text/html;charset=UTF-8"  pageEncoding="UTF-8"  %>
<div class="footer">
    <p><font>声明：在39问医生平台中所有关于疾病的建议都不能代替执业医师的面对面诊断。医生及网友言论仅代表其个人观点，请谨慎参阅，本站不承担相关法律责任。</font><br><a
            href="http://www.39.net/">39健康网</a>&nbsp;-&nbsp;中国优质医疗保健信息与在线健康服务平台&nbsp;&nbsp;&nbsp;Copyright © 2000-2016&nbsp;&nbsp;&nbsp;<a
            href="http://corp.39.net/info/disclaimer.html" rel="nofollow">未经授权请勿转载</a>&nbsp;|&nbsp;<a
            href="http://corp.39.net/info/contact.html" rel="nofollow">联系我们</a>&nbsp;|&nbsp;<a
            href="http://emarketing.39.net/" rel="nofollow">广告合作</a></p>
</div>

